@model IEnumerable<BancoDePreguntas.Models.Pregunta>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
}

<h2>Listado de Preguntas</h2>
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />

@*<p>
        @Html.ActionLink("Filtrar", "Create", new { }, new { @class = "btn btn-success" })
    </p>*@
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td> @Html.DropDownList("EstudioId", null, htmlAttributes: new { @class = "form-control" })</td>

            <td>  @Html.DropDownList("AsignaturaId", null, htmlAttributes: new { @class = "form-control" })</td>

            @*<td> @Html.DropDownList("TemaId", null, htmlAttributes: new { @class = "form-control" })</td>*@

            <td> @Html.DropDownList("TipoId", null, htmlAttributes: new { @class = "form-control" })</td>

            <td>   @Html.DropDownList("IdiomaId", null, htmlAttributes: new { @class = "form-control" })</td>

            @*<td> @Html.DropDownList("DificultadId", null, htmlAttributes: new { @class = "form-control" })</td>*@

            @*<td>   @Html.DropDownList("TiempodId", null, htmlAttributes: new { @class = "form-control" })</td>*@
            <td>   <input class="btn btn-success" type="submit" value="Filtrar" /></td>
            <td>@Html.ActionLink("Quitar filtros", "Index", new { }, new { @class = "btn btn-warning" })</td>
</tr>
    </table>
}


<div class="">

</div>

@Html.Grid(Model).Columns(columns =>
    {
        columns.Add(c => c.Estudio.NombreEstudio).Titled("Estudio").Sortable(true).Filterable(true);
        columns.Add(c => c.Asignatura.NombreAsignatura).Titled("Asignatura").Sortable(true).Filterable(true);
        columns.Add(c => c.Tema.NombreTema).Titled("Tema").Sortable(true).Filterable(true);
        columns.Add(c => c.TipoPregunta.TipoDePregunta).Titled("TipodePregunta").Sortable(true).Filterable(true);
        columns.Add(c => c.Idioma.Lenguaje).Titled("Idioma").Sortable(true).Filterable(true);
        columns.Add(c => c.GradoDificultad.Nivel).Titled("Dificultad").Sortable(true).Filterable(true);
        columns.Add(c => c.TiempoRealizacion.Tiempo).Titled("Duracion").Sortable(true).Filterable(true);
        columns.Add(c => c.PreguntaTextual).Titled("Pregunta").Sortable(true).Filterable(true);

        columns.Add().Titled("Info").Encoded(false)
                    .Sanitized(false)
                    .RenderValueAs(o => (

                 Html.ActionLink(" Info", "Details", "VerLista", new { id = o.Id }, new { @class = "btn btn-info btn-sm glyphicon glyphicon-info-sign " }).ToHtmlString()



                         )
                            );

    })

@*@using (Html.BeginForm())
    {
        <p>
            Find by name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }*@
@*<table class="table">
    <tr>


        <th>
            @Html.DisplayNameFor(model => model.Asignatura.NombreAsignatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estudio.NombreEstudio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GradoDificultad.Nivel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idioma.Lenguaje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Respuesta.Respuestas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tema.NombreTema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TiempoRealizacion.Tiempo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPregunta.TipoDePregunta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreguntaTextual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaActualizacion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Asignatura.NombreAsignatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estudio.NombreEstudio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradoDificultad.Nivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idioma.Lenguaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Respuesta.Respuestas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tema.NombreTema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiempoRealizacion.Tiempo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPregunta.TipoDePregunta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreguntaTextual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaActualizacion)
            </td>


            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>*@
